.App {
  font-family: sans-serif;
  text-align: center;
}

.post {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: cyan;
}

.post > * {
  padding: 12px;
}

.post > :first-child {
  background-color: yellow;
  margin-right: auto;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.organizer {
  width: 100px;
}
